body {
    padding-top: 70px;
}

.float-r {
    float: right;
    margin: 2em 0;
}

.inputs-edit {
    width: 30%;
    display: inline-block;
}

.container-description {
    /* margin: 2em 0; */
}

.form-edit label {
    font-size: 1.2em;
    margin: 2em 1em 0 3em;
}

textarea.form-control {
    height: 40px;
    width: 319px;
    margin-left: 10em;
}

.titulo-total {
    position: relative;
    top: -7em;
    right: 1em;
}